.ans-btn {
  background-color: #e48e66;
  color: #ffffff !important;
  width: 55px;
  height: 55px;
  display: inline-block;
  border-radius: 50px;
  font-size: 12px;
  text-transform: uppercase;
  padding: 20px 5px 0px 5px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
}

.ans-btn:hover {
  background-color: #b67151;
}

.ans-btn:active {
  background-color: #f1fc77;
  color: #000000 !important;
}

.ans-btn-more {
  background-color: rgb(113, 221, 194);
  /* background-color: #e48e66; */
  color: #ffffff !important;
  width: 55px;
  height: 55px;
  display: inline-block;
  border-radius: 50px;
  font-size: 12px;
  text-transform: uppercase;
  padding: 20px 5px 0px 5px;
  margin-left: 5px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
}

.ans-btn-more:hover {
  text-decoration: none;
  background-color: rgb(83, 161, 142);
  color: #ffffff;
}