@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates:500i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(160, 159, 159);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-image: linear-gradient(#e48e66, #f8ec7d);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-image: linear-gradient(#b46f4f, #cec366);
}

html,
body {
  height: 100%;
}

html {
  cursor: url('../src/assets/cursor.png'), auto;
  background-color: white;
  background-image: linear-gradient(to right, rgb(255, 255, 255), rgb(253, 253, 253), rgb(252, 252, 252), rgb(255, 255, 255), rgb(255, 255, 255));
}

body {
  cursor: url('../src/assets/cursor.png'), auto;
  background-color: white;
}

@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    height: 100vw;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }
}