.home {
  cursor: url('../../assets/cursor.png'), auto;
}

.About-content {
  text-align: center;
  /* display: flex; */
}

.About-content h2 {
  float: left;
  /* margin: 100px 0px 0px 50px; */
  color: #e48e66;
  font-family: 'Montserrat Alternates', sans-serif;
}

.welcome-text {
  width: 400px;
  float: left;
  display: flex;
  flex-direction: column;
  padding-left: 50px;
}

.welcome-text .wel-content {
  font-size: 21px;
  padding: 20px 0 0 30px;

  font-family: 'Raleway', sans-serif;
}

h6 a {
  color: #e48e66e3;
}

.About-content img {

  float: right;
}

@media only screen and (max-width: 600px) {
  .About-content h2 {
    float: left;
    margin: 100px 0px 0px 50px;
    color: #e48e66;
    font-family: 'Montserrat Alternates', sans-serif;
  }

  .welcome-text {
    width: 300px;
  }

  .About-content img {
    /* width: 400px; */
    padding-right: 200px;
  }
}