.shop {
  cursor: url('../../assets/cursor.png'), auto;
}

.Shop-content {
  text-align: center;
  /* display: flex; */
}

.Shop-content h3 {
  float: left;
  margin: 150px 0px 0px 50px;
  color: #e48e66;
  font-family: 'Montserrat Alternates', sans-serif;
}

.welcome-text {
  width: 300px;
  float: left;
  display: flex;
  flex-direction: column;
  padding-left: 50px;
}

.welcome-text .wel-content {
  font-size: 21px;
  padding: 20px 0 0 30px;

  font-family: 'Raleway', sans-serif;
}

h6 a {
  color: #e48e66e3;
}

.Shop-content img {

  float: right;
}

@media only screen and (max-width: 600px) {
  .Shop-content img {
    float: right;
    padding-right: 50px;
  }
}

@media only screen and (max-height: 500px) {
  .Shop-content img {
    display: none;
  }

  .Shop-content h3 {
    float: left;
    margin: 70px 0px 0px 50px;
    color: #e48e66;
    font-family: 'Montserrat Alternates', sans-serif;
  }
}